<!-- componente para cambiar la contraseña -->
 <div>
    <h1>Componente en construccion <i class="fa-solid fa-wrench"></i></h1>
    <form>
        <div class="mb-3">
            <label for="oldPassword" class="form-label">Contraseña actual</label>
            <input type="password" id="oldPassword" class="form-control" required name="oldPassword">
        </div>
        <div class="mb-3">
            <label for="newPassword" class="form-label">Nueva contraseña</label>
            <input type="password" id="newPassword" class="form-control" required name="newPassword">
        </div>
        <div class="mb-3">
            <label for="confirmNewPassword" class="form-label">Confirmar nueva contraseña</label>
            <input type="password" id="confirmNewPassword" class="form-control" name="confirmNewPassword">
        </div>
        <button type="submit" class="btn btn-primary" (click)="send()">Cambiar contraseña</button>
    </form>
 </div>
