<div class="table-container">
    <table>
      <thead>
        <tr>
          <!-- <th>ID</th> -->
          <th>Rin ID</th>
          <th>Nombre Rin</th>
          <th>Fecha Alta/Último cambio</th>
          <!-- <th>Estado</th> -->
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <!-- Usar @for con la sintaxis correcta -->
        @for (ri of rin; track $index){
          <tr>
            <!-- <td>{{ user.id }}</td> -->
            <td>{{ ri.idRin }}</td>
            <td>{{ ri.nomRin ?? 'N/A' }}</td>
            <td>{{ ri.fecAlta ? (ri.fecAlta | date:'dd/MM/yyyy H:mm:ss a') : 'N/A' }}</td>
            <!-- <td>{{ ri.opcActivo }}</td> -->
            <td>
              <button type="button" class="btn btn-outline-primary" (click)="editar(ri.idRin)">Editar</button>
              <button type="button" class="btn btn-outline-danger" (click)="borrar(ri.idRin)">Borrar</button>


            </td>   
          </tr>
        }
          
      </tbody>
    </table>
</div>
<!-- modal -->
<div class="modal fade" id="modalRines" tabindex="-1" aria-labelledby="modalRinesLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form [formGroup]="rinForm" (ngSubmit)="registrarRin()">
        <div class="modal-header">
          <h5 class="modal-title" id="modalMarcaLabel">
            {{ editando ? 'Editar marca' : 'Registrar nueva marca' }}
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="nombreRin" class="form-label">Nombre del rin</label>
            <input type="text" class="form-control" id="nombreRin" formControlName="nomRin" required>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary" [disabled]="rinForm.invalid">
            {{ editando ? 'Guardar cambios' : 'Registrar' }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>