.card{
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 30px;
    margin-bottom: 50px;
}

.card p {
    
    margin-bottom: 0px; /* Reduce el margen inferior */
    line-height: 1.8; /* Ajusta la altura de línea para mejorar la legibilidad */
    text-align: center; /* Centra el texto */
  }

  button{
    /* background-color:rgba(red, green, blue, alpha); */
    width: 100%;
    height: 50px;
    margin-bottom: 30px;
  }

  .btn-eye {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1%;
    height: 35px;
    margin-bottom: 0px;
  }
  .btn-pass{
    height: 100%;
  }

  .btn-user{
    height: 100%;
  }