<div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Modelo ID</th>
          <th>Nombre modelo</th>
          <th>Fecha Alta/Último cambio</th>
          <!-- <th>Estado</th> -->
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>

        @for (modelo of modelos; track $index){
          <tr>

            <td>{{ modelo.idModelo }}</td>
            <td>{{ modelo.nomModelos ?? 'N/A' }}</td>
            <td>{{ modelo.fecAlta ? (modelo.fecAlta | date:'dd/MM/yyyy H:mm:ss a') : 'N/A' }}</td>
            <!-- <td>{{ modelo.opcActivo }}</td> -->
            <td>
              <button type="button" class="btn btn-outline-primary" (click)="editar(modelo.idModelo)">Editar</button>
              <button type="button" class="btn btn-outline-danger" (click)="borrar(modelo.idModelo)">Borrar</button>
            </td>
          </tr>
        }    
      </tbody>
    </table>
</div>
<!--  modal -->
  <div class="modal fade" id="modalModelo" tabindex="-1" aria-labelledby="modalModeloLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form [formGroup]="modeloForm" (ngSubmit)="registrarModelo()">
          <div class="modal-header">
            <h5 class="modal-title" id="modalMarcaLabel">
            {{ editando ? 'Editar modelo' : 'Registrar nuevo modelo' }}
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <label for="nombreModelo" class="form-label">Nombre del modelo</label>
              <input type="text" class="form-control" id="nombreModelo" formControlName="nomModelos" required>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary" [disabled]="modeloForm.invalid">
              {{ editando ? 'Guardar cambios' : 'Registrar' }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>