<div class="container">
    <!-- <p>Bienvenido a la pagina de bodega</p> -->
    <!-- <div class="registrar">
        <button type="submit" class="btn btn-primary" (click)="registrar()">Hacer venta</button>
    </div> -->

    <div class="llantas">
        <button type="submit" class="btn btn-primary" (click)="llantas()">Inventario llantas</button>

    </div>
    <div class="Limpiar">
        <button type="submit" class="btn btn-primary" (click)="limpiar()">Limpiar lista</button>
    </div>

    <!-- <div class="actualizar">
        <button type="submit" class="btn btn-primary" (click)="actualizar()">Actualizar lista</button>
    </div> -->
    <div class="sale">
        <app-register-sale/>

    </div>
    
    <div class="card">
        <div class="card-header">
            Ventas realizadas
        </div>
        <div class="card-body m-0">
            <app-sales-table/>
        </div>
        <br>
    </div>

    
    <!-- <div class="addstock">
        <button type="submit" class="btn btn-primary" (click)="addstock()">Agregar stock a un producto</button>
    </div> -->
</div>
