<div class="container">
    <!-- <p>Bienvenido a la pagina de bodega</p> -->
    <div class="registrar">
        <button type="submit" class="btn btn-primary" (click)="registrar()">Hacer venta</button>
    </div>
    <div class="card">
        <div class="card-header">
            Ventas realizadas
        </div>
        <div class="card-body m-0">
            <app-sales-table/>
        </div>
        <br>
    </div>

    
    <!-- <div class="addstock">
        <button type="submit" class="btn btn-primary" (click)="addstock()">Agregar stock a un producto</button>
    </div> -->
</div>
