<header class="jumbotron bg-cover text-white">
    <div class="container py-5 text-center">
        <img src="https://play-lh.googleusercontent.com/1d5g6UbrDOjjJCXDNhqbm7Zzp043BaD9sgMyR3aQPEHDeQyDHxy97sZt793MfnmiYlc=w600-h300-pc0xffffff-pd" alt="Logo Coppel" width="150">
        <h1 class="titulo">Coppel</h1>
        <p class="font-italic mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa ducimus, tenetur quisquam expedita corporis labore, saepe officiis nihil corrupti repellendus perspiciatis accusantium aliquam consectetur eius maxime mollitia, quas quia recusandae.</p>


    </div>

</header>