<div class="card">
    <div class="card-header">
        Registrar el usuario
    </div>
    <div class="card-body m-0">
        <div class="register">
            <form [formGroup]="registerForm">
                <p class="text-danger">{{registerError}}</p>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Usuario</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="username"> 
                    @if (username.invalid && (username.dirty || username.touched)){
                        <div class="text-danger">
                            @if (username.errors?.['required']) {
                                <div>Usuario requerido</div>
                            }
                            @if (username.errors?.['email']) {
                                <div>Usuario no contiene un formato valido</div>
                            }
                            @if (username.errors?.['minlength']) {
                                <div>Usuario debe tener al menos 7 caracteres</div>
                            }
                            @if (username.errors?.['maxlength']) {
                                <div>Usuario debe tener maximo 40 caracteres</div>
                            }
                        </div>                     
                    }
                </div>
                <div class="mb-3">
                    <label for="passwordlabel2" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" id="passwordlabel2" formControlName="password">
                    @if (password.invalid && (password.dirty || password.touched)){
                        <div class="text-danger">
                            @if (password.errors?.['required']) {
                                <div>Contraseña requerida</div>
                            }
                        </div>                     
                    }
                </div>
    
                <div class="mb-3">
                    <label for="namelabel" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="namelabel" formControlName="firstname">
                    @if (firstname.invalid && (firstname.dirty || firstname.touched)){
                        <div class="text-danger">
                            @if (firstname.errors?.['required']) {
                                <div>Nombre requerido</div>
                            }
                        </div>                     
                    }
                </div>
    
                <div class="mb-3">
                    <label for="lastnamelabel" class="form-label">Apellido</label>
                    <input type="text" class="form-control" id="lastnamelabel" formControlName="lastname">
                    @if (lastname.invalid && (lastname.dirty || lastname.touched)){
                        <div class="text-danger">
                            @if (lastname.errors?.['required']) {
                                <div>Apellido requerido</div>
                            }
                        </div>                     
                    }
                </div>
    
                <div class="mb-3">
                    <label for="countrylabel" class="form-label">Pais</label>
                    <input type="text" class="form-control" id="countrylabel" formControlName="country">
                    @if (country.invalid && (country.dirty || country.touched)){
                        <div class="text-danger">
                            @if (country.errors?.['required']) {
                                <div>Pais requerido</div>
                            }
                        </div>                     
                    }
                </div>

                <div class="mb-4">
                    <label for="roleSelect" class="form-label">Rol</label>
                    <select class="form-control" id="roleSelect" formControlName="role">
                        <option value="" disabled selected>Seleccione un rol</option>
                        <option value="ADMIN">ADMIN</option>
                        <option value="CAJERO">CAJERO</option>
                        <option value="BODEGA">BODEGA</option>
                        <option value="USER">USER</option>
                    </select>
                    
                    @if (role.invalid && (role.dirty || role.touched)){
                        <div class="text-danger">
                            @if (firstname.errors?.['required']) {
                                <div>Rol requerido</div>
                            }
                        </div>                     
                    }
                </div>
                
                <button type="submit" class="btn btn-primary" (click)="register()">Registrar</button>
            </form>
        </div>
    </div>

</div>