<div class="card">
    <div class="card-header">
        Registrar el usuario
    </div>
    <div class="card-body m-0">
        <div class="register">
            <form [formGroup]="registerForm">
                <p class="text-danger">{{registerError}}</p>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Usuario (correo)</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="username" maxlength="45"> 
                    @if (username.invalid && (username.dirty || username.touched)){
                        <div class="text-danger">
                            @if (username.errors?.['required']) {
                                <div>Usuario requerido</div>
                            }
                            @if (username.errors?.['email']) {
                                <div>Formato NO valido</div>
                            }
                            @else {
                                @if (username.errors?.['noSpaces']){
                                    <div>No se permiten espacios</div>
                                }
                                @if (username.errors?.['invalidDomain']){
                                    <div>Solo se permite dominio coppel.com</div>
                                }
                                @else {
                                    @if (username.errors?.['minlength']) {
                                        <div>Usa al menos 3 caracteres ejemplo: abc&#64;coppel.com</div>
                                    }
                                    @if (username.errors?.['maxlength']) {
                                        <div>Caracteres maximos alcanzados</div>
                                    }
                                    @if (username.errors?.['invalidCharacters']) {
                                        <div>Caracteres no permitidos</div>
                                    }
                                }  
                            }      
                        </div>                     
                    }
                </div>
                <div class="mb-3">
                    <label for="passwordlabel2" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" id="passwordlabel2" formControlName="password" maxlength="45">
                    @if (password.invalid && (password.dirty || password.touched)){
                        <div class="text-danger">
                            @if (password.errors?.['required']) {
                                <div>Contraseña requerida</div>
                            }@else {
                                @if (password.errors?.['minlength']) {
                                    <div>Contraseña muy corta</div>
                                }
                                @if (password.errors?.['maxlength']) {
                                    <div>Contraseña muy larga</div>
                                }
                            }
                        </div>                     
                    }
                </div>
    
                <div class="mb-3">
                    <label for="namelabel" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="namelabel" formControlName="firstname" maxlength="35">
                    @if (firstname.invalid && (firstname.dirty || firstname.touched)){
                        <div class="text-danger">
                            @if (firstname.errors?.['required']) {
                                <div>Nombre requerido</div>
                            }@else {
                                @if(firstname.errors?.['minlength']) {
                                    <div>Nombre muy corto</div>
                                }
                                @if(firstname.errors?.['maxlength']) {
                                    <div>Nombre muy largo</div>
                                }
                                @if(firstname.errors?.['pattern']) {
                                    <div>Caracteres no permitidos</div>
                                }
                            }
                        </div>                     
                    }
                </div>
    
                <div class="mb-3">
                    <label for="lastnamelabel" class="form-label">Apellido</label>
                    <input type="text" class="form-control" id="lastnamelabel" formControlName="lastname" maxlength="35">
                    @if (lastname.invalid && (lastname.dirty || lastname.touched)){
                        <div class="text-danger">
                            @if (lastname.errors?.['required']) {
                                <div>Apellido requerido</div>
                            }@else {
                                @if(lastname.errors?.['minlength']) {
                                    <div>Apellido muy corto</div>
                                }
                                @if(lastname.errors?.['maxlength']) {
                                    <div>Apellido muy largo</div>
                                }
                                @if(lastname.errors?.['pattern']) {
                                    <div>Caracteres no permitidos</div>
                                }
                            }
                        </div>                     
                    }
                </div>
    
                <div class="mb-3">
                    <label for="countrylabel" class="form-label">Pais</label>
                    <input type="text" class="form-control" id="countrylabel" formControlName="country" maxlength="35">
                    @if (country.invalid && (country.dirty || country.touched)){
                        <div class="text-danger">
                            @if (country.errors?.['required']) {
                                <div>Pais requerido</div>
                            }@else {
                                @if(country.errors?.['minlength']) {
                                    <div>País muy corto</div>
                                }
                                @if(country.errors?.['maxlength']) {
                                    <div>País muy largo</div>
                                }
                                @if(country.errors?.['pattern']) {
                                    <div>Caracteres no permitidos</div>
                                }
                            }
                        </div>                     
                    }
                </div>

                <div class="mb-4">
                    <label for="roleSelect" class="form-label">Rol</label>
                    <select class="form-control" id="roleSelect" formControlName="role">
                        <option value="" disabled selected>Seleccione un rol</option>
                        <option value="ADMIN">ADMIN</option>
                        <option value="CAJERO">CAJERO</option>
                        <option value="BODEGA">BODEGA</option>
                        <option value="USER">USER</option>
                    </select>
                    
                    @if (role.invalid && (role.dirty || role.touched)){
                        <div class="text-danger">
                            @if (firstname.errors?.['required']) {
                                <div>Rol requerido</div>
                            }
                        </div>                     
                    }
                </div>
                
                <button type="submit" class="btn btn-primary" (click)="register()">Registrar</button>
            </form>
        </div>
    </div>

</div>