<div class="container">
    <!-- <p>Bienvenido a la pagina de admin</p> -->
    <br>
    <div class="card">
        <div class="card-header">
            Registra un usuario
        </div>
        <div class="card-body m-0">
            <app-register></app-register>
        </div>
        <br>
    </div>
     <BR>
    <div class="card">
        <div class="card-header">
            Modifica el rol de un usuario
        </div>
        <div class="card-body m-0">
            #FUNCION AUN NO TERMINADA
        </div>
        <br>
    </div>

</div>

