.container {
    width: 350px; /* Ajusta el ancho */
    height: 350px; /* Ajusta la altura */
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

h3 {
    text-align: center;
    margin-top: 20px;
    color:#007bff;
    font-size: 30px;
}

form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    margin-top: 10px;
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    margin-top: 10px;
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #007bff;
    color: white;
}

button:hover {
    background-color: #0056b3;
}

p{
    margin-top: 10px;
    text-align: center;
}