<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Practica Coppel</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                
                @if (userLoginOn) {
                    <a class="nav-link active" routerLink="">Inicio</a>

                    @if (userRole=='ADMIN'){
                        <a class="nav-link" routerLink="/admin" >Admin</a>
    
                    }
    
                    @if (userRole=='CAJERO'){
                        <a class="nav-link" routerLink="/cajero" >Cajero</a>
    
                    }
    
                    @if (userRole=='BODEGA'){
                        <a class="nav-link" routerLink="/bodega" >Bodega</a>
    
                    }
    
                    @if (userRole=='USER'){
                        <a class="nav-link" routerLink="" >Usuario</a>
                        
    
                    }

                    <a class="nav-link" routerLink="/inicio" (click)="cerrarSesion()">Cerrar sesion</a>
                }
                @if (!userLoginOn) {
                    
                    <a class="nav-link" routerLink="/login" >Iniciar sesion</a>
                }

                
            </div>
        </div>
    </div>
</nav>








<!-- recordatorio
el href es para rutas especificas (y recarga toda la pagina), 
usa routerLink para moverse entre componentes y hacer una SPA 
(Single page application) y evitar recargar toda la pagina,
en el routerlink, usar / antes del todo para entrar a esa ruta
o se stackearan
-->