@if (userLoginOn){
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <!-- Lo siguiente al minimizar, se guarda todo en un boton  -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                
                <div class="navbar-nav">
                        <!-- <a class="nav-link active" routerLink="">Inicio</a> -->
                         
    
                        @if (userRole=='ADMIN'){
                            <!-- <a class="nav-link" routerLink="/admin" >Admin</a> -->

                            <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Admin</a>
                              <ul class="dropdown-menu">
                                <li><a class="dropdown-item" routerLink="/admin">Usuarios</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" routerLink="/admin/marcas">Marcas</a></li>
                                <li><a class="dropdown-item" routerLink="/admin/modelos">Modelos</a></li>
                                <li><a class="dropdown-item" routerLink="/admin/rines">Rines</a></li>
                                <li><a class="dropdown-item" routerLink="/admin/llantas">Llantas</a></li>
                                <li><a class="dropdown-item" routerLink="/admin/categoria-movimientos-inventario">Categoria movimientos inventario</a></li>
                                <li><a class="dropdown-item" routerLink="/admin/control-movimientos-inventario">Control movimientos inventario</a></li>
                                <li><a class="dropdown-item" routerLink="/admin/todos">Todos</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="https://www.linkedin.com/in/anthovega">Contacta a soporte</a></li>
                              </ul>
                            </li>
                            
                        }
    
                        @if (userRole=='CAJERO' || userRole=='ADMIN' ){
                            <a class="nav-link" routerLink="/cajero" >Cajero</a>
                        }
        
                        @if (userRole=='BODEGA' || userRole=='ADMIN' ){
                            <a class="nav-link" routerLink="/bodega" >Bodega</a>
                        }
    
                        @if (userRole=='USER'){
                            <a class="nav-link" routerLink="" >Usuario</a>                
                        }
                    
                </div>
                <div class="cerrarSesion">
                    <div class="DatosPerfil" (click)="perfil()">
                        <app-perfil></app-perfil>
                    </div>
                    <a class="nav-link" routerLink="/inicio" (click)="cerrarSesion()">Cerrar sesion</a>
                </div>
            </div>
        </div>
    </nav>
}








    <!-- recordatorio
    el href es para rutas especificas (y recarga toda la pagina), 
    usa routerLink para moverse entre componentes y hacer una SPA 
    (Single page application) y evitar recargar toda la pagina,
    en el routerlink, usar / antes del todo para entrar a esa ruta
    o se stackearan
    -->