<div class="container">
<div class="card">
        <div class="card-header">Marca</div>

        <div class="card-body m-0">
            <!-- Formulario para agregar marca directamente -->
            <form [formGroup]="marcaForm" (ngSubmit)="registrarMarca()" class="row g-3 mb-3">
                <div class="col-auto">
                    <input type="text" class="form-control" formControlName="nomMarcas" placeholder="Nombre de la marca" required>
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary" [disabled]="marcaForm.invalid">Agregar marca</button>
                </div>
            </form>
            <app-cat-marcas/>
        </div>
    </div>
</div>