<div class="card">
    <div class="card-header">
      Registrar nueva venta
    </div>
    <div class="card-body m-0">
      <div class="register">
        <form [formGroup]="registerForm">
            <p class="text-danger">{{ registerError }}</p>
  
            <!-- Iterar sobre los productos en el FormArray -->
            <div formArrayName="products">
                <!-- Es muy importante el formGroupName $index para ligar los arreglos y funcionen correctamente -->
                @for(item of products.controls; track $index){
                    <div [formGroupName]="$index" class="row mb-3">
                        
                        <div class="col">
                            <label for="productnameInput{{ $index }}" class="form-label">Product ID</label>
                            <input
                            type="text"
                            class="form-control"
                            id="productnameInput{{ $index }}"
                            formControlName="productname"
                            maxlength="35"
                            />
                        </div>
    
                        <div class="col">
                            <label for="amountInput{{ $index }}" class="form-label">Cantidad</label>
                            <input
                            type="text"
                            class="form-control"
                            id="amountInput{{ $index }}"
                            formControlName="amount"
                            maxlength="5"
                            (keypress)="allowOnlyNumbers($event)"
                            />
                        </div>
    
                        <div class="col">
                            <label for="priceInput{{ $index }}" class="form-label">Precio unitario</label>
                            <input
                            type="text"
                            class="form-control"
                            id="priceInput{{ $index }}"
                            formControlName="price"
                            maxlength="10"
                            readonly
                            />
                        </div>
    
                        <div class="col">
                            <label for="totalInput{{ $index}}" class="form-label">Total producto</label>
                            <input
                            type="text"
                            class="form-control"
                            id="totalInput{{ $index }}"
                            formControlName="total"
                            maxlength="10"
                            readonly
                            />
                        </div>
                    </div>

                }
            </div>
  
          <!-- Botón para agregar más productos -->
          <button type="button" class="btn btn-secondary mt-3" (click)="addProduct()">Agregar otro producto</button>
          <button type="submit" class="btn btn-primary mt-3" (click)="register()">Registrar venta</button>
        </form>
      </div>
    </div>
  </div>