/* al minimizar no sera menor a este tamaño */
body{
    min-width: 100vh;
}

/* Configuracion global sobre si es valido o no los formularuios */
.ng-valid:not(form).ng-touched{
    border-left: 5px solid #42A948;
}

.ng-invalid:not(form).ng-touched{
    border-left: 5px solid #a94442;
}

/* Estilo para el contenedor de la tabla */

.table-container {
    margin: 20px;
    overflow-x: auto;
}
  
table {
    width: 100%;
    border-collapse: collapse;

}
  

td  {
    border: 1px solid #ddd !important;
    padding: 8px !important;
    text-align: left !important;
}
  
th {
    background-color: #f4f4f4 !important;
    font-weight: bold !important;
    border: 1px solid #ddd !important;
    padding: 8px !important;
    text-align: left !important;
}

.card{
    margin-top: 20px;
}

button{
    margin-right: 5px !important;
    margin-bottom: 3px !important;
}