<div class="container">
    @if(userLoginOn){
        <p>Bienvenido de vuelta {{user2?.firstname}}!</p>
    }
    @if(!userLoginOn) {
        <p>Inicia sesion en el boton "iniciar sesion"</p>
    }

    <div class="card">
        <div class="card-header">
            Datos
        </div>
        <div class="card-body m-0">
            <app-personal-details></app-personal-details>
        </div>
        <br>
    </div>

    <!-- <div class="card">
        <div class="card-header">
            Edita tu contraseña
        </div>
        <div class="card-body m-0">
            <app-change-password/>
        </div>
        <br>
    </div> -->
    <br>

</div>


