.card{
    margin-bottom: 40px;
    margin-left: 30%;
    margin-right: 30%;
}

.container{
    margin-top: 20px;
    /* margin-bottom: 200px; */

}

img{
    width:1000px;
    margin-left: 5%;
    margin-bottom: 50px;
}