<div class="container">
    @if(userLoginOn){
        <p>Bienvenido de vuelta</p>
        <!-- <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> -->
    }
    @if(!userLoginOn) {
        <p>Inicia sesion en el boton "iniciar sesion"</p>
        <!-- <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> -->
    }

    <div class="card">
        <div class="card-header">
            Datos
        </div>
        <div class="card-body m-0">
            <app-personal-details></app-personal-details>
        </div>
        <br>
    </div>
    <br>

</div>


