<!-- https://www.w3schools.com/icons/fontawesome_icons_brand.asp -->
<footer>
    <div class="text-center text-white">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-8 mt-2">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita quos voluptatem dignissimos neque consequatur quibusdam sunt molestias natus laborum ut exercitationem officia, tempore rem animi reiciendis iusto aliquam minima adipisci?</p>
                </div>
            </div>
            <div class="text-center mb-2">
                <a href="https://github.com/anthocoppelito" class="text-white me-4">
                    <i class="fa fa-github" style="font-size:24px"></i>
                </a>
                <a href="https://www.linkedin.com/in/anthovega" class="text-white me-4">
                    <i class="fa fa-linkedin-square" style="font-size:24px"></i>
                </a>
            </div>
        </div>
    </div>
</footer>
