<div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Marca ID</th>
          <th>Nombre marca</th>
          <th>Fecha Alta</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <!-- Usar @for con la sintaxis correcta -->
        @for (marca of marcas; track $index){
          <tr>
            <!-- <td>{{ user.id }}</td> -->
            <td>{{ marca.idMarca }}</td>
            <td>{{ marca.nomMarcas }}</td>
            <td>{{ marca.fecAlta ?? 'N/A' }}</td>
            <td>{{ marca.opcActivo ?? 'N/A' }}</td>
            <td>
              <button type="button" class="btn btn-outline-primary" (click)="editar(marca.idMarca)">Editar</button>
              <button type="button" class="btn btn-outline-primary" (click)="borrar(marca.idMarca)">Borrar</button>
            </td>
          </tr>
        }
      </tbody>
    </table>
</div>
<!-- modal -->
 <div class="modal fade" id="modalMarca" tabindex="-1" aria-labelledby="modalMarcaLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form [formGroup]="marcaForm" (ngSubmit)="registrarMarca()">
        <div class="modal-header">
          <h5 class="modal-title" id="modalMarcaLabel">
            {{ editando ? 'Editar marca' : 'Registrar nueva marca' }}
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="nombreMarca" class="form-label">Nombre de la marca</label>
            <input type="text" class="form-control" id="nombreMarca" formControlName="nomMarcas" required>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary" [disabled]="marcaForm.invalid">
            {{ editando ? 'Guardar cambios' : 'Registrar' }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

